/*   font / background colors   */

//$btn: ;        //                
$color-1: #fff;           // White.
$color-2: #000000;        // Black
$color-3: #ffe600;        // Pure (or mostly pure) yellow.
$color-4: #858585;        // Dark gray.                      