script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="/libs/ModalWindowEffects/js/classie.js")
script(src="/libs/ModalWindowEffects/js/modalEffects.js")
script(src="js/common.js")